html, body{
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  height:100%;
  color: white;
}
body{
  display: flex;
}
a{
  text-decoration: none;
}

/* HEADER */

header{
  width: 100%;
  position:fixed;
  top:0;
  background-color: rgba(70,110,255,0.25);

}
nav{
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  font-family: 'Crimson Text', serif;
}
.h1_header{
  flex:1;
  padding: 0.5rem 0 0.5rem 1;
  font-weight: normal;
  font-style: italic;
  font-size: 24px;
  margin: 0;
}
.liste_deroulante{
  flex:1;
  display: flex;
  flex-direction: row;
  padding: 0;
  font-size: 20px;
  margin: 0;
}
.liste_deroulante li{
  list-style: none;
  text-align: center;
  align-self: center;
  flex:1;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 10px 10px 0 0;
  transition: background-color ease-in-out 0.01s;
  box-sizing: border-box;
}
.liste_deroulante li:hover{
  background-color: black;
  border-bottom: 1px solid white;

}
.sous_liste{
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
  margin-top: 0.5rem;
  border-top: 1px solid white;
  padding: 0 0.5rem;
  background-color: rgba(70,110,255,0.25);
}
.liste_deroulante_titre:hover .sous_liste{
  visibility: visible;
}
.fleche_bas{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
.liste_deroulante_titre a{
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* MAIN */

main{
  width: 100%;
  margin: 0 auto;
}
.accroche{
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url("src/images/stars_wallpaper.jpg");
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
}
.accroche_principale{
  margin: 0;
  max-width: 1400px;
  font-family: 'Crimson Text', serif;
  font-weight:bold;
  font-size: 26px;
  transition: all ease-in-out 0.5s;
  border-top: 1px solid white;
}
.accroche_principale:hover{
  font-size: 50px;
}
h2{
  text-align: center;
}

/* PROJETS */

.projets{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.projet{
  border: 1px solid white;
  position: relative;
  min-width: 320px;
  min-height: 180px;
}
.projet_1{
  background-image: url("src/images/page_404.jpg");
  background-size: cover;
}
.text_projet{
  position: absolute;
  top:85%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  color:black;
  margin: 0;
  transition: all ease-in-out 0.5s;
}
.h3_projet{
  margin: 0.2rem 0.2rem 0.2rem 1rem;
}
.description_projet{
  opacity: 0;
  position: absolute;
  transition: opacity ease-in-out 0.5s;
}
.projet:hover .description_projet{
  opacity: 1;
  position:static;
}
.projet:hover .text_projet{
  top:0;
  background-color: rgba(255,255,255,.5);
}
